# Data manipulation

In [184]:
import pandas as pd

In [185]:
pd.read_csv("ejemplo.csv", index_col=0)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [186]:
! pip install xlrd
pd.read_excel("ejemplo.xls")

Requirement already satisfied: xlrd in /Users/ma0/miniconda3/envs/data_mining/lib/python3.7/site-packages (1.2.0)

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4   18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
6   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
7   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
8   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
12  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
13  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
14  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
15  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4
16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
21  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
22  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
26  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
28  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4
29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
30  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8
31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2

In [187]:
pd.read_excel("ejemplo.xls", sheet_name="mtcars")

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4   18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
6   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
7   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
8   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
12  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
13  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
14  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
15  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4
16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
21  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
22  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
26  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
28  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4
29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
30  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8
31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2

In [188]:
mtcars = pd.read_csv("ejemplo.csv", index_col=0)

In [189]:
mtcars

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [190]:
mtcars.values[0,4]

3.9

In [191]:
mtcars["hp"]

Mazda RX4              110
Mazda RX4 Wag          110
Datsun 710              93
Hornet 4 Drive         110
Hornet Sportabout      175
Valiant                105
Duster 360             245
Merc 240D               62
Merc 230                95
Merc 280               123
Merc 280C              123
Merc 450SE             180
Merc 450SL             180
Merc 450SLC            180
Cadillac Fleetwood     205
Lincoln Continental    215
Chrysler Imperial      230
Fiat 128                66
Honda Civic             52
Toyota Corolla          65
Toyota Corona           97
Dodge Challenger       150
AMC Javelin            150
Camaro Z28             245
Pontiac Firebird       175
Fiat X1-9               66
Porsche 914-2           91
Lotus Europa           113
Ford Pantera L         264
Ferrari Dino           175
Maserati Bora          335
Volvo 142E             109
Name: hp, dtype: int64

In [192]:
mtcars[["hp"]]

                      hp
Mazda RX4            110
Mazda RX4 Wag        110
Datsun 710            93
Hornet 4 Drive       110
Hornet Sportabout    175
Valiant              105
Duster 360           245
Merc 240D             62
Merc 230              95
Merc 280             123
Merc 280C            123
Merc 450SE           180
Merc 450SL           180
Merc 450SLC          180
Cadillac Fleetwood   205
Lincoln Continental  215
Chrysler Imperial    230
Fiat 128              66
Honda Civic           52
Toyota Corolla        65
Toyota Corona         97
Dodge Challenger     150
AMC Javelin          150
Camaro Z28           245
Pontiac Firebird     175
Fiat X1-9             66
Porsche 914-2         91
Lotus Europa         113
Ford Pantera L       264
Ferrari Dino         175
Maserati Bora        335
Volvo 142E           109

In [193]:
mtcars["hp"]

Mazda RX4              110
Mazda RX4 Wag          110
Datsun 710              93
Hornet 4 Drive         110
Hornet Sportabout      175
Valiant                105
Duster 360             245
Merc 240D               62
Merc 230                95
Merc 280               123
Merc 280C              123
Merc 450SE             180
Merc 450SL             180
Merc 450SLC            180
Cadillac Fleetwood     205
Lincoln Continental    215
Chrysler Imperial      230
Fiat 128                66
Honda Civic             52
Toyota Corolla          65
Toyota Corona           97
Dodge Challenger       150
AMC Javelin            150
Camaro Z28             245
Pontiac Firebird       175
Fiat X1-9               66
Porsche 914-2           91
Lotus Europa           113
Ford Pantera L         264
Ferrari Dino           175
Maserati Bora          335
Volvo 142E             109
Name: hp, dtype: int64

In [194]:
mtcars[["mpg", "cyl"]]

                      mpg  cyl
Mazda RX4            21.0    6
Mazda RX4 Wag        21.0    6
Datsun 710           22.8    4
Hornet 4 Drive       21.4    6
Hornet Sportabout    18.7    8
Valiant              18.1    6
Duster 360           14.3    8
Merc 240D            24.4    4
Merc 230             22.8    4
Merc 280             19.2    6
Merc 280C            17.8    6
Merc 450SE           16.4    8
Merc 450SL           17.3    8
Merc 450SLC          15.2    8
Cadillac Fleetwood   10.4    8
Lincoln Continental  10.4    8
Chrysler Imperial    14.7    8
Fiat 128             32.4    4
Honda Civic          30.4    4
Toyota Corolla       33.9    4
Toyota Corona        21.5    4
Dodge Challenger     15.5    8
AMC Javelin          15.2    8
Camaro Z28           13.3    8
Pontiac Firebird     19.2    8
Fiat X1-9            27.3    4
Porsche 914-2        26.0    4
Lotus Europa         30.4    4
Ford Pantera L       15.8    8
Ferrari Dino         19.7    6
Maserati Bora        15.0    8
Volvo 142E           21.4    4

In [195]:
mtcars.iloc[:,0:2]

                      mpg  cyl
Mazda RX4            21.0    6
Mazda RX4 Wag        21.0    6
Datsun 710           22.8    4
Hornet 4 Drive       21.4    6
Hornet Sportabout    18.7    8
Valiant              18.1    6
Duster 360           14.3    8
Merc 240D            24.4    4
Merc 230             22.8    4
Merc 280             19.2    6
Merc 280C            17.8    6
Merc 450SE           16.4    8
Merc 450SL           17.3    8
Merc 450SLC          15.2    8
Cadillac Fleetwood   10.4    8
Lincoln Continental  10.4    8
Chrysler Imperial    14.7    8
Fiat 128             32.4    4
Honda Civic          30.4    4
Toyota Corolla       33.9    4
Toyota Corona        21.5    4
Dodge Challenger     15.5    8
AMC Javelin          15.2    8
Camaro Z28           13.3    8
Pontiac Firebird     19.2    8
Fiat X1-9            27.3    4
Porsche 914-2        26.0    4
Lotus Europa         30.4    4
Ford Pantera L       15.8    8
Ferrari Dino         19.7    6
Maserati Bora        15.0    8
Volvo 142E           21.4    4

In [196]:
mtcars.iloc[[0,2,4], [0,2,4]]

                    mpg   disp  drat
Mazda RX4          21.0  160.0  3.90
Datsun 710         22.8  108.0  3.85
Hornet Sportabout  18.7  360.0  3.15

In [197]:
mtcars.iloc[0:3,0:3]

                mpg  cyl   disp
Mazda RX4      21.0    6  160.0
Mazda RX4 Wag  21.0    6  160.0
Datsun 710     22.8    4  108.0

In [198]:
mtcars["Mazda RX4 Wag":"Hornet Sportabout"]

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [199]:
mtcars[0:3]

                mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
Mazda RX4      21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
Datsun 710     22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1

In [200]:
mtcars["hp"]> 200

Mazda RX4              False
Mazda RX4 Wag          False
Datsun 710             False
Hornet 4 Drive         False
Hornet Sportabout      False
Valiant                False
Duster 360              True
Merc 240D              False
Merc 230               False
Merc 280               False
Merc 280C              False
Merc 450SE             False
Merc 450SL             False
Merc 450SLC            False
Cadillac Fleetwood      True
Lincoln Continental     True
Chrysler Imperial       True
Fiat 128               False
Honda Civic            False
Toyota Corolla         False
Toyota Corona          False
Dodge Challenger       False
AMC Javelin            False
Camaro Z28              True
Pontiac Firebird       False
Fiat X1-9              False
Porsche 914-2          False
Lotus Europa           False
Ford Pantera L          True
Ferrari Dino           False
Maserati Bora           True
Volvo 142E             False
Name: hp, dtype: bool

In [201]:
mtcars[(mtcars["hp"]> 200)]

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8

In [202]:
(mtcars["hp"]> 200) & (mtcars["gear"] > 3)

Mazda RX4              False
Mazda RX4 Wag          False
Datsun 710             False
Hornet 4 Drive         False
Hornet Sportabout      False
Valiant                False
Duster 360             False
Merc 240D              False
Merc 230               False
Merc 280               False
Merc 280C              False
Merc 450SE             False
Merc 450SL             False
Merc 450SLC            False
Cadillac Fleetwood     False
Lincoln Continental    False
Chrysler Imperial      False
Fiat 128               False
Honda Civic            False
Toyota Corolla         False
Toyota Corona          False
Dodge Challenger       False
AMC Javelin            False
Camaro Z28             False
Pontiac Firebird       False
Fiat X1-9              False
Porsche 914-2          False
Lotus Europa           False
Ford Pantera L          True
Ferrari Dino           False
Maserati Bora           True
Volvo 142E             False
dtype: bool

In [203]:
mtcars[(mtcars["hp"]> 200) & (mtcars["gear"] > 3)]

                 mpg  cyl   disp   hp  drat    wt  qsec  vs  am  gear  carb
Ford Pantera L  15.8    8  351.0  264  4.22  3.17  14.5   0   1     5     4
Maserati Bora   15.0    8  301.0  335  3.54  3.57  14.6   0   1     5     8

In [204]:
mtcars["i_like"] = (mtcars["hp"]> 200) & (mtcars["gear"] > 3)
mtcars

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,i_like
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,False
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,False
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,False
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,False
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,False
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,False
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,False
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,False
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,False
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,False
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4,False
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3,False
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3,False
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3,False
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4,False
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4,False
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4,False
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,False
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,False
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,False
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,False
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2,False
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2,False
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4,False
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,False
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,False
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,False
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,False
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,True
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6,False
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8,True
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2,False

In [207]:
mtcars.loc[mtcars["i_like"] == True, "i_like"] = "I like it"
mtcars.loc[mtcars["i_like"] == False, "i_like"] = "I dont like it"
mtcars

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,i_like
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,I dont like it
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,I dont like it
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,I dont like it
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,I dont like it
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,I dont like it
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,I dont like it
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,I dont like it
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,I dont like it
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,I dont like it
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,I dont like it
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4,I dont like it
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3,I dont like it
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3,I dont like it
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3,I dont like it
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4,I dont like it
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4,I dont like it
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4,I dont like it
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,I dont like it
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,I dont like it
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,I dont like it
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,I dont like it
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2,I dont like it
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2,I dont like it
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4,I dont like it
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,I dont like it
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,I dont like it
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,I dont like it
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,I dont like it
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,I like it
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6,I dont like it
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8,I like it
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2,I dont like it